@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair+Display&display=swap');

body
{
    margin: 0px;
    background-size: 100%;
    padding: 20px 0px 0px;  
    box-sizing: border-box;
    background-color: #F5F5F5;
    background-position: center;
    background-image: url('productImages/dalle.jpg');
}

html
{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar
{
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb
{
    background: #2A59A0;
}

.header
{
    width: 100%;
    height: 100vh;
}

.container 
{
    width: 100%;
    padding: 10px;
    max-width: 95%;
    margin-top: 7%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.form, .table
{
    width: 100%;
}

.table th
{
    padding-bottom: 10px;
    border-bottom: 1px solid #0002;
    font-family: 'Playfair Display', serif;
}

td
{
    height:100px;
}

th:first-child, th:nth-child(5),  th:nth-child(6), th:nth-child(8) 
{
    width: 60px;
}

th:nth-child(9) 
{
    width: 20px;
}

th:nth-child(7) 
{
    width: 80px;
}

th:nth-child(2), th:nth-child(3) 
{
    width: 250px;
}

input[type=text], input[type=number], input[type=checkbox], textarea, input[type=file]
{
    width: 100%;
}

textarea
{
    height:35px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
{
  opacity: 1;
}

input[type=file]
{
    display:none; 
    visibility:hidden;
}

input[type=checkbox] 
{
    transform: scale(1.2);
}

.uploadkit-invalid .uploadkit-button 
{
    background-color: #3333CC !important; 
}

label i
{
    width: 37.8px;
    height: 27.3px;
    cursor: pointer;
    margin-left:18px;
    color: #2A59A0;
    text-align: center;
}

.form_control 
{
    color: #333;
    outline: none;
    padding: 8px 12px;
    font-family: 1.2rem;
    border: 1px solid #0002;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
}

.form_control::placeholder 
{
    opacity: 0.5;
    color: inherit;
}

.table button, .table button i, .addToMarket
{
    border: 0px;
    cursor: pointer;
    color: #2A59A0;
    border-radius: 2px;
    transform: scale(1.05);
    border-color: transparent;
    background-color: #FFFFFF;
}

.table button:active
{
    transition: unset;
    transform: scale(.95);
}

.addToMarket
{
    width:auto;
    height: 30px;
    float: right;
    border: none;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0px 20px;
    font-family: 'Playfair Display', serif;
}